* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: var(--off-white);
  min-height: 100vh;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
} 

.App {
  text-align: center;
}

